@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cormorant+Upright&family=Karla&family=Lato&family=Marcellus+SC&family=Merriweather:wght@300;400&family=Mingzat&family=Montserrat:ital@0;1&family=Poppins&family=Raleway&family=Roboto&family=Sacramento&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  height: 100vh;
  width: 100%;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  background-color: #5800FF;
  color: #fff;
  position: fixed;
  justify-content: space-around;
  z-index: 4;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
}

.logo p {
  font-size: 30px;
}

nav input {
  padding: 5px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
}