@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cormorant+Upright&family=Karla&family=Lato&family=Marcellus+SC&family=Merriweather:wght@300;400&family=Mingzat&family=Montserrat:ital@0;1&family=Poppins&family=Raleway&family=Roboto&family=Sacramento&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}