* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.welcome-pg {
    width: 100%;
    height: 100vh;
    background: #fff;
}

.navbar {
    width: 100%;
    height: 80px;
    background: #5800FF;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}